[Unit]
Description=Zedin Steam Manager Backend (Simulation)
After=network.target

[Service] 
Type=simple
User=zsmanager
WorkingDirectory=D:\zedinsteammanager\simulated_linux/backend
EnvironmentFile=D:\zedinsteammanager\simulated_linux/config/zsmanager.env
ExecStart=python3 main.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
